body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
}

header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #1a2e6b;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    font-weight: 600;
}
.nav {
    text-decoration: none;
    color: inherit;
}

.nav:focus,
.nav:active {
    outline: none;
}

.nav:visited {
    color: inherit;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.search-input {
    border: none;
    outline: none;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    border-radius: 4px;
}

.search-button {
    background: none;
    border: none;
    color: #1a2e6b;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0 0.5rem;
}

.hero {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 900;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/cloudSky.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.15); /*.15*/
    z-index: 2;
}

.foreground-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    height: 450px;
    object-fit: cover;
    pointer-events: none;
    opacity: 80%;
}

.hero > *:not(.foreground-image, .plane) {
    position: relative;
    z-index: 3;
}

.plane {
    position: absolute;
    z-index: 0;
    right: -200px;
    animation: fly-across 6s linear forwards;
}

@keyframes fly-across {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateX(-70vw) scale(2);
        opacity: 1;
    }
    100% {
        transform: translateX(-200vw) scale(3);
        opacity: 1;
    }
}

.title {
    margin: 0;
    color: white;
}
.airlines {
    grid-area: 3 / 1 / 4 / 2;
}
footer {
    grid-area: 4 / 1 / 5 / 2;
}

.icon {
    transform: rotate(-35deg);
    padding: 0.75rem 0 0.75rem 0.75rem;
    color: #ffffff;
}
.nav {
    padding: 0.75rem 0.75rem 0.75rem 0;
}
.airlines {
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding-bottom: 2rem;
}
.sub-header {
    color: #1a2e6b;
    margin-top: 0;
    padding-top: 3rem;
}
/*Grid system */
.card-grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
.card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(26, 46, 107, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    background-color: #1a2e6b;
    color: white;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.newsletter h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.newsletter form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.newsletter input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    max-width: 100%;
}

.newsletter button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #79add6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #6c9acb;
}

.newsletter p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Mobile */
@media (max-width: 767px) {
    .icon {
        font-size: 1.4rem;
    }
    .title,
    .title-page {
        font-size: 5rem;
    }
    .title-page {
        justify-content: center;
    }
    .hero-flights {
        justify-content: center;
        flex-direction: column;
    }
    .plane {
        width: 100px;
        top: 6rem;
    }
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .sub-header {
        font-size: 3rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .icon {
        font-size: 1.9rem;
    }
    .icon:hover {
        color: #79add6;
    }
    .nav {
        font-size: 1.2rem;
    }
    .nav:hover {
        color: #79add6;
        font-size: 1.25rem;
    }
    .title,
    .title-page {
        font-size: 6rem;
    }
    .title-page {
        margin-left: 3.75rem;
    }
    .hero-flights {
        justify-content: space-between;
    }
    .toggle {
        margin-right: 3.75rem;
    }
    .plane {
        width: 150px;
    }
    .sub-header {
        font-size: 3rem;
    }
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .icon {
        font-size: 1.9rem;
    }
    .icon:hover {
        color: #79add6;
    }
    .nav {
        font-size: 1.2rem;
    }
    .nav:hover {
        color: #79add6;
        font-size: 1.22rem;
    }
    .title,
    .title-page {
        font-size: 6rem;
    }
    .title-page {
        margin-left: 3.75rem;
    }
    .hero-flights {
        justify-content: space-between;
    }
    .toggle {
        margin-right: 3.75rem;
    }
    .plane {
        width: 200px;
    }
    .sub-header {
        font-size: 3rem;
    }
    .card-grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .card:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .airlines {
        margin: 0 1rem 0 1rem;
    }
}

/*Flights.html */
.title-page {
    color: #1a2e6b;
}
.hero-flights {
    display: flex;
    font-weight: 900;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: white;
}
.body-container {
    background-color: #deebf7;
    color: #1a2e6b;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container img {
    height: 33rem;
    width: auto;
}

.plane-animation {
    animation: fly-up 4s linear /* or ease-out? */ forwards;
}

.hidden {
    display: none;
}

.up-plane{
    display: block;
    margin: 0 auto;
}

@keyframes fly-up {
    0% {
       transform: translateY(100vh);
    }
    70% {
       transform: translateY(0);
    }
    100% {
       transform: translateY(-146vh);
    }
}

#flight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.75rem;
    padding: 1.75rem;
    margin-left: 2rem;
    margin-right: 2em;
}

.flight-card {
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 8px #1a2e6b4d;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.flight-card:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.flight-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.flight-details {
    padding: 0.8rem;
    width: 54%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.flight-date {
    font-size: 0.9rem;
    font-weight: 500;
}

.flight-route {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.arrow {
    font-size: 1.4rem;
    font-weight: 800;
}

.flight-times {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-times .plane-icon {
    font-size: 1.1rem;
    margin: 0 0.4rem;
}

.flight-side-info {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* didn't work */
    text-align: right;
    font-size: 0.9rem;
    line-height: 1.4;
}

.relative-position {
    position: relative;
}

.airline-name {
    position: absolute;
    display: block;
    background-color: #1a2e6b;
    padding: 0.25rem 0.75rem;
    color: white;
    bottom: 0px;
    left: 0px;
    transform: rotate(90);
    z-index: 3;
    border-radius: 0 5px 5px 0;
}

.toggle {
    display: flex;
    flex-direction: column;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.label-switch {
    color: #1a2e6b;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Questions:
how to make the edges of the time and origin/destination line up on outside edges
also how to make the stats (miles, mins, etc.) to be the same height as the other div. */
